<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.utilities">

    <uses-sdk
        android:maxSdkVersion="31"
        android:minSdkVersion="16"
        android:targetSdkVersion="31"
        tools:ignore="GradleOverrides" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.ar" />
    <application
        android:allowBackup="true"
        android:configChanges="uiMode"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:exported="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/utilities"
        android:label="@string/app_name"
        android:roundIcon="@drawable/utilities"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/LightTheme"
        tools:ignore="RtlEnabled"
        tools:targetApi="s">
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity
            android:name=".utilitiesActivity.InfoActivity"
            android:configChanges="uiMode"
            android:label="@string/infoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".utilitiesActivity.bussola.BussolaActivity"
            android:configChanges="uiMode"
            android:label="@string/bussolaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:configChanges="uiMode"
            android:label="@string/settingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".utilitiesActivity.AltriSensoriActivity"
            android:configChanges="uiMode"
            android:label="@string/AltriSensoriActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".utilitiesActivity._ARMeasure.ARMeasureActivity"
            android:configChanges="uiMode"
            android:label="@string/ARMeasureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".utilitiesActivity.LivellaActivity"
            android:configChanges="uiMode"
            android:label="@string/livellaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".utilitiesActivity.inclinometro.InclinometroActivity"
            android:configChanges="uiMode"
            android:label="InclinometroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".utilitiesActivity.dado.DadoActivity"
            android:configChanges="uiMode"
            android:label="@string/dadoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.PreferenzeDado"
            android:configChanges="uiMode"
            android:label="@string/PrefderenzeDado"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".utilitiesActivity.moneta.MonetaActivity"
            android:configChanges="uiMode"
            android:label="@string/monetaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.PreferenzeMoneta"
            android:configChanges="uiMode"
            android:label="@string/PrefderenzeMoneta"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".utilitiesActivity.scf.SCFActivity"
            android:configChanges="uiMode"
            android:label="@string/_SCFActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.PreferenzeSCF"
            android:configChanges="uiMode"
            android:label="@string/PrefderenzeSCF"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>